<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="outputDir" value="C:\Temp\" />
    <add key="imageFileName" value="Cap_"/>
    <add key="videoFileName" value="TimeLapserVideo.mp4"/>
    <add key="ffmpeg" value="ffmpeg\ffmpeg.exe"/>
  </appSettings>
</configuration>
